name: build

on: [push]

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Show ref
      run: |
        echo "$GITHUB_REF"
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo apt-get update -y -qq
        sudo apt-get install -y -qq libicu-dev
        pip install --upgrade pip setuptools setuptools_scm wheel build twine pyicu
        pip install -e ".[dev]"
    - name: Validate mypy typing
      run: |
        mypy --strict normality
    - name: Run unit tests
      run: |
        pytest
    - name: Build a distribution
      run: |
        python -m build -nwsx
    - name: Publish a Python distribution to PyPI
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
